*{
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}

/* banner */
.banner{
    display: flex;
    /* width: 708px; */
    align-items: center;
    margin: 0px 200px 0px 200px;
    justify-content: space-between;
}
.banner-pic{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
.header{
    background: rgba(229, 84, 115, 0.10);
    margin: 0px;
    /* width: 100vh; */
}
.greeting{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.flower-intro{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px 32px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0px;
}

/* Feature area */
.feat{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feat-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.flo{
    margin-top: 200px;
}
.feat-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 24px 0px 48px;
    /* text-align: center;
    margin-left: 700px; */
}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 0px 240px 0px; */
}

.flower{
    border-radius: 300px 300px 0px 0px; 
    width: 464px;
    height: 538px;
    margin: 12px;
}
.f1{
    width: 310px;
    height: 428px;
    margin: 110px 78px 0px 76px;
}
.fl1{
    background-color:rgba(167, 33, 98, 0.15);

}
.f2{
    width: 370px;
    height: 370px;
    margin: 117px 47px 51px;

}
.fl2{
    background-color:rgba(5, 151, 160, 0.15);

}

.f3{
    width: 314px;
    height: 471px;
    margin: 67px 75px 0px 75px;
}
.fl3{
    background-color:rgba(71, 125, 17, 0.15);

}
.flower-desc{
    margin: 32px 0px 128px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/* Services */
.contanar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 128px;
}
.serv{
    margin: 0px 50px 0px;
}
.service p{
    margin-top: 5px;
}
/* HOT DEAL! */

.hot-deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05); 
    margin-bottom: 128px;  
}
.sale-head{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.sale-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px 24px 0px;
}
.sale-desc{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 100px 200px 0px 0px;
}
.hot-deal{
    display: flex;
    padding: 100px 400px 100px;
    justify-content: space-between;
}
.hot-deal img{
    width: 318px;
    height: 420px;
}
/* INstagram */
.instagram img{
    margin: 0px 12px 0px;
}
.instagram{
    margin-bottom: 128px;
}

/* Latest Deal */

.latest-deal input{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 10px;
    padding-left: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.latest-deal{
    width: 1440px;
    height: 449px;
    background-image: url(../img/Rectangle\ 9.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 128px;
}



